<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Acebook</title>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="176013400464-7iemt6j1diecc6cnik262qutqb0k4cgh.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="loginInterface.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="signOutInterface.js"></script>
    <script src="feedInterface.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

  </head>
  <body align=center id="body">
    <ul>
      <li style="float:left"><a class="brand" href="#">A C E B O O K</a></li>
      <li><a class="active" href="/" id="home-login" class="here">Home</a></li>
      <li><a href="#" id="sign-out" onclick="signOut();">Sign out</a></li>
      <li><input id="srchbar" type="search" placeholder="Search"></li>
    </ul>

  <div style="padding:20px;margin-top:30px">
    <div id="feed">
      <div id="post-form">
        <p>What's on your mind, <span id ="greet_user"></span>?</p>
        <form name="addPost">
          <textarea id="postContent" type="text" name="content" placeholder="Post" rows ='5' cols = '60'></textarea>
          <input id="submit" type="submit" name="submit" value="Submit">
        </form>
      </div>
      <br><br>
      <div id="postContainer">

      </div>

    </div>
    <div id="good-bye-message" style="font-size:60px; padding-top:200px; text-align:center;">

    </div>
  </div>
  </body>
</html>
