<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Acebook</title>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="176013400464-7iemt6j1diecc6cnik262qutqb0k4cgh.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body align=center>
    <nav>
      <div>
        <a href="/" id="home-login" class="here">Home</a>
        <a href="#" id="sign-out" onclick="signOut();">Sign out</a>
        <input id="srchbar" type="search" placeholder="Search">
      </div>
    </nav>
    <div id="feed">
      <div id="post-form">
        <p>What's on your mind?</p>
        <form action="/post/create" method="get" name="addPost">
          <input type="text" name="content" placeholder="Post">
          <input id="submit" type="submit" name="submit" value="Submit">
        </form>
      </div>
      <div id="posts-placeholder">
      </div>
    </div>
    <div id="good-bye-message">

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      var loginStatus = false;
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        localStorage.setItem("username", profile.getName());
        localStorage.setItem("image", profile.getImageUrl());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
        loginStatus = true;
      }
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
          loginStatus = false;
        });
      }
      $(document).ready(function(){
         $('#sign-out').click(function () {
          $('#feed').hide();
          $('#sign-out').hide();
          $('#good-bye-message').text("See ya!");
          $('#home-login').text("Log in");
        });
      });
    </script>
  </body>
</html>
