<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Acebook!</title>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="176013400464-7iemt6j1diecc6cnik262qutqb0k4cgh.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="./style.css"></script>

  <script src="loginInterface.js"></script>

</head>
<body align = center>
  <div> Please log in to access Acebook</div>
    <div class="g-signin2" data-onsuccess="onSignIn" id="googleLogIn" data-theme="dark"></div>
    <a href="#" onclick="signOut();">Sign out</a>
</body>
</html>
